@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 48px;
  font-family: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: none !important;
}

body .chakra-ui-light {
  background-color: #f4f6f8 !important;
}

App {
  text-align: center;
  height: 5000px;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  left: 35%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.bJZgZY {
  color: black !important;
}

.kYFtri * {
  color: black !important;
}
.kYFtri *:hover {
  color: #1890ff !important;
}

/* .exvOBC {
  background-color: red !important;
} */

.exvOBC :hover {
  background-color: #ffffff !important ;
  color: #1890ff !important;
}
